@model Focus5.Models.ToDo

@{
    ViewBag.Title = "Delete";
}


<div id="progressBarToDo">

    <div class="progress">
        <div class="progress-bar" role="progressbar"
             style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
    </div>

</div>

<style>

    .table {
        color: #35115c;
        width: 530px;
        height: 50px;
        font-family: "Robot", sans-serif;
    }

    .todo-list {
        color: #fff;
        margin: 0;
        padding: 1em 0;
        color: #35115c;
        text-align: center;
        background-color: #fff;
        border-top: 1em solid #35115c;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    .footertodo {
        margin: 0;
        padding: .7em 0;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        background-color: #fff;
    }

    .todo {
        position: relative;
        display: block;
        padding: .75em 1em;
        cursor: pointer;
        background-color: #fff;
    }

    .actionlinkk {
        margin-left: 240px;
    }

    .CompletedToDo {
        text-decoration: line-through;
        transition: .5s ease-in-out;
    }

    #editb {
        display: inline-block;
        padding: 0.3em 1.2em;
        margin: 0 0.1em 0.1em 0;
        border: 0.16em solid rgba(255,255,255,0);
        border-radius: 2em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        color: #FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align: center;
        transition: all 0.2s;
    }

        #editb:hover {
            border-color: rgba(255,255,255,1);
        }

    @@media all and (max-width:30em) {
          #editb {
            display: block;
            margin: 0.2em auto;

        }
    }

    #deleteb {
        display: inline-block;
        padding: 0.3em 1.2em;
        margin: 0 0.1em 0.1em 0;
        border: 0.16em solid rgba(255,255,255,0);
        border-radius: 2em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        color: #FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align: center;
        transition: all 0.2s;
    }

        #deleteb:hover {
            border-color: rgba(255,255,255,1);
        }

    @@media all and (max-width:30em) {
          #deleteb {
            display: block;
            margin: 0.2em auto;

        }
    }

    /*.todo  .CompletedToDo:hover{
            transform: translateX(-1em);
        }*/

</style>
<div class="tabelaa" style="margin-left:370px;">
    <section class="todo-list">
        <h2>Delete Task</h2>
    </section>


    <div class="todo">
        <table class="table">

            <div class="modal" tabindex="-1" id="form-model">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span> @Html.DisplayFor(model => model.IsDone)</span>
                            <span> @Html.DisplayFor(model => model.Description)</span>


                       
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color" style="margin-left:450px; margin-top:-18px; ">
                                    <input type="submit" value="Delete" class="btn btn-default" />

                                </div>
                            }


                        </div>


                    </div>
                </div>
            </div>


        </table>
    </div>

    <section class="footertodo">
        <footer>
        </footer>
    </section>
</div>
<script src="~/CustomScripts/popup.js"></script>
<script src="~/CustomScripts/AddCheckBoxListener.js"></script>




